<%# This file is the original html.erb for product size table. Just for reference. %>

<% if @product.xs_1.present? or @product.s_1.present? or @product.m_1.present? or @product.l_1.present? or @product.xl_1.present? or @product.f_1.present?  %>  
  <tr>
    <td class="align-center"><%= Spree.t(:bust) %></td>
    <td class="align-center"><%= @product.xs_1 %></td>
    <td class="align-center"><%= @product.s_1  %></td>
    <td class="align-center"><%= @product.m_1  %></td>
    <td class="align-center"><%= @product.l_1  %></td>
    <td class="align-center"><%= @product.xl_1 %></td>
    <td class="align-center"><%= @product.f_1  %></td>
  </tr>
<% end %>  
<% if @product.xs_2.present? or @product.s_2.present? or @product.m_2.present? or @product.l_2.present? or @product.xl_2.present? or @product.f_2.present?  %>  
  <tr>
    <td class="align-center"><%= Spree.t(:waist) %></td>
    <td class="align-center"><%= @product.xs_2 %></td>
    <td class="align-center"><%= @product.s_2  %></td>
    <td class="align-center"><%= @product.m_2  %></td>
    <td class="align-center"><%= @product.l_2  %></td>
    <td class="align-center"><%= @product.xl_2 %></td>
    <td class="align-center"><%= @product.f_2  %></td>
  </tr>
<% end %>
<% if @product.xs_3.present? or @product.s_3.present? or @product.m_3.present? or @product.l_3.present? or @product.xl_3.present? or @product.f_3.present?  %>
  <tr>
    <td class="align-center"><%= Spree.t(:arm_circumference) %></td>
    <td class="align-center"><%= @product.xs_3 %></td>
    <td class="align-center"><%= @product.s_3 %></td>
    <td class="align-center"><%= @product.m_3 %></td>
    <td class="align-center"><%= @product.l_3  %></td>
    <td class="align-center"><%= @product.xl_3 %></td>
    <td class="align-center"><%= @product.f_3  %></td>
  </tr>
<% end %>  
<% if @product.xs_4.present? or @product.s_4.present? or @product.m_4.present? or @product.l_4.present? or @product.xl_4.present? or @product.f_4.present?  %>
  <tr>
    <td class="align-center"><%= Spree.t(:hip) %></td>
    <td class="align-center"><%= @product.xs_4 %></td>
    <td class="align-center"><%= @product.s_4  %></td>
    <td class="align-center"><%= @product.m_4  %></td>
    <td class="align-center"><%= @product.l_4  %></td>
    <td class="align-center"><%= @product.xl_4 %></td>
    <td class="align-center"><%= @product.f_4  %></td>
  </tr>
<% end %>   
<% if @product.xs_5.present? or @product.s_5.present? or @product.m_5.present? or @product.l_5.present? or @product.xl_5.present? or @product.f_5.present?  %>
  <tr>
    <td class="align-center"><%= Spree.t(:thigh) %></td>
    <td class="align-center"><%= @product.xs_5 %></td>
    <td class="align-center"><%= @product.s_5  %></td>
    <td class="align-center"><%= @product.m_5  %></td>
    <td class="align-center"><%= @product.l_5  %></td>
    <td class="align-center"><%= @product.xl_5 %></td>
    <td class="align-center"><%= @product.f_5  %></td>
  </tr>
<% end %>   
<% if @product.xs_6.present? or @product.s_6.present? or @product.m_6.present? or @product.l_6.present? or @product.xl_6.present? or @product.f_6.present?  %>
  <tr>
    <td class="align-center"><%= Spree.t(:clothes_length) %></td>
    <td class="align-center"><%= @product.xs_6 %></td>
    <td class="align-center"><%= @product.s_6  %></td>
    <td class="align-center"><%= @product.m_6  %></td>
    <td class="align-center"><%= @product.l_6  %></td>
    <td class="align-center"><%= @product.xl_6 %></td>
    <td class="align-center"><%= @product.f_6  %></td>
  </tr>
<% end %>   
<% if @product.xs_7.present? or @product.s_7.present? or @product.m_7.present? or @product.l_7.present? or @product.xl_7.present? or @product.f_7.present?  %>  
  <tr>
    <td class="align-center"><%= Spree.t(:skirt_length) %></td>
    <td class="align-center"><%= @product.xs_7 %></td>
    <td class="align-center"><%= @product.s_7  %></td>
    <td class="align-center"><%= @product.m_7  %></td>
    <td class="align-center"><%= @product.l_7  %></td>
    <td class="align-center"><%= @product.xl_7 %></td>
    <td class="align-center"><%= @product.f_7  %></td>
  </tr>
<% end %>   
<% if @product.xs_8.present? or @product.s_8.present? or @product.m_8.present? or @product.l_8.present? or @product.xl_8.present? or @product.f_8.present?  %> 
  <tr>
    <td class="align-center"><%= Spree.t(:pants_length) %></td>
    <td class="align-center"><%= @product.xs_8 %></td>
    <td class="align-center"><%= @product.s_8  %></td>
    <td class="align-center"><%= @product.m_8  %></td>
    <td class="align-center"><%= @product.l_8  %></td>
    <td class="align-center"><%= @product.xl_8 %></td>
    <td class="align-center"><%= @product.f_8  %></td>
  </tr>
<% end %>   
<% if @product.xs_9.present? or @product.s_9.present? or @product.m_9.present? or @product.l_9.present? or @product.xl_9.present? or @product.f_9.present?  %>    
  <tr>
    <td class="align-center"><%= Spree.t(:sleeve_length) %></td>
    <td class="align-center"><%= @product.xs_9 %></td>
    <td class="align-center"><%= @product.s_9  %></td>
    <td class="align-center"><%= @product.m_9  %></td>
    <td class="align-center"><%= @product.l_9  %></td>
    <td class="align-center"><%= @product.xl_9 %></td>
    <td class="align-center"><%= @product.f_9  %></td>
  </tr>
<% end %>   
<% if @product.xs_10.present? or @product.s_10.present? or @product.m_10.present? or @product.l_10.present? or @product.xl_10.present? or @product.f_10.present?  %>    
  <tr>
    <td class="align-center"><%= Spree.t(:straps_length) %></td>
    <td class="align-center"><%= @product.xs_10 %></td>
    <td class="align-center"><%= @product.s_10  %></td>
    <td class="align-center"><%= @product.m_10  %></td>
    <td class="align-center"><%= @product.l_10  %></td>
    <td class="align-center"><%= @product.xl_10 %></td>
    <td class="align-center"><%= @product.f_10  %></td>
  </tr>
<% end %>   
<% if @product.xs_11.present? or @product.s_11.present? or @product.m_11.present? or @product.l_11.present? or @product.xl_11.present? or @product.f_11.present?  %>
  <tr>
    <td class="align-center"><%= Spree.t(:shoulder_length) %></td>
    <td class="align-center"><%= @product.xs_11 %></td>
    <td class="align-center"><%= @product.s_11  %></td>
    <td class="align-center"><%= @product.m_11  %></td>
    <td class="align-center"><%= @product.l_11  %></td>
    <td class="align-center"><%= @product.xl_11 %></td>
    <td class="align-center"><%= @product.f_11  %></td>
  </tr>
<% end %>   
<% if @product.xs_12.present? or @product.s_12.present? or @product.m_12.present? or @product.l_12.present? or @product.xl_12.present? or @product.f_12.present?  %>  
  <tr>
    <td class="align-center"><%= Spree.t(:sleeve_width) %></td>
    <td class="align-center"><%= @product.xs_12 %></td>
    <td class="align-center"><%= @product.s_12  %></td>
    <td class="align-center"><%= @product.m_12  %></td>
    <td class="align-center"><%= @product.l_12  %></td>
    <td class="align-center"><%= @product.xl_12 %></td>
    <td class="align-center"><%= @product.f_12  %></td>
  </tr>
<% end %>   
<% if @product.xs_13.present? or @product.s_13.present? or @product.m_13.present? or @product.l_13.present? or @product.xl_13.present? or @product.f_13.present?  %>    
  <tr>
    <td class="align-center"><%= Spree.t(:collar_width) %></td>
    <td class="align-center"><%= @product.xs_13 %></td>
    <td class="align-center"><%= @product.s_13  %></td>
    <td class="align-center"><%= @product.m_13  %></td>
    <td class="align-center"><%= @product.l_13  %></td>
    <td class="align-center"><%= @product.xl_13 %></td>
    <td class="align-center"><%= @product.f_13  %></td>
  </tr>
<% end %>   
<% if @product.xs_14.present? or @product.s_14.present? or @product.m_14.present? or @product.l_14.present? or @product.xl_14.present? or @product.f_14.present?  %>    
  <tr>
    <td class="align-center"><%= Spree.t(:back_rise) %></td>
    <td class="align-center"><%= @product.xs_14 %></td>
    <td class="align-center"><%= @product.s_14  %></td>
    <td class="align-center"><%= @product.m_14  %></td>
    <td class="align-center"><%= @product.l_14  %></td>
    <td class="align-center"><%= @product.xl_14 %></td>
    <td class="align-center"><%= @product.f_14  %></td>
  </tr>
<% end %>   
<% if @product.xs_15.present? or @product.s_15.present? or @product.m_15.present? or @product.l_15.present? or @product.xl_15.present? or @product.f_15.present?  %>
  <tr>
    <td class="align-center"><%= Spree.t(:front_rise) %></td>
    <td class="align-center"><%= @product.xs_15 %></td>
    <td class="align-center"><%= @product.s_15  %></td>
    <td class="align-center"><%= @product.m_15  %></td>
    <td class="align-center"><%= @product.l_15  %></td>
    <td class="align-center"><%= @product.xl_15 %></td>
    <td class="align-center"><%= @product.f_15  %></td>
  </tr> 
<% end %>      